* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  box-sizing: border-box; 
}

body {
    background-color: #427AA1;
    font-family: 'Poppins';
}

header img {
    width: 100vw;
}

nav {
    background-color: #A5BE00;
    border-radius: 2rem;
    margin: 2vh 2vw;
    padding: 0.5rem 0.5rem;
}

nav::selection {
    background-color: #679436;
    color: #EBF2FA;
}

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    text-align: center;
}

li a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: #05668D;
    transition: 0.5s;
    font-size: 1.25rem;
}

li a:hover {
    color: #EBF2FA;
    transform: scale(1.2);
}

#notice {
    text-align: center;
    background-color: #EBF2FA;
    border-radius: 2rem;
    margin: 2vh 3vw;
    padding: 0.75rem 0rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#notice img {
    width: 100%;
    grid-row: span 2;
    border-radius: 2rem;
    user-select: none;
}

#notice h1 {
    color: #679436;
    padding-top: 2vh;
    font-weight: 900;
    font-family: 'Luckiest Guy';
    font-size: 4.25vw;
    letter-spacing: 0.25vw;
}

#notice p {
    color: #679436;
    font-weight: 500;
    font-size: 3vw;
}

#notice::selection {
    background-color: #A5BE00;
    color: #05668D;
}

#welcome {
    text-align: center;
    color: #EBF2FA;
    margin: 1rem 1.5rem;
}

#welcome h1 {
    font-weight: 900;
    font-family: 'Luckiest Guy';
    font-size: 4.25vw;
    letter-spacing: 0.25vw;
}

#welcome p {
    font-size: 3vw;
}

#welcome::selection {
    background-color: #A5BE00;
    color: #05668D;
}

#options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1vh 1vw;
}

@media (max-width: 768px) {
  #options {
    grid-template-columns: 1fr;
  }
}

#options section {
    margin: 2vh 1vw;
    background-color: #EBF2FA;
    padding: 1.5vh 3vw;
    display: grid;
    grid-template-columns: 2fr 1fr;
    color: #679436;
    border-radius: 1rem;
}

#options section h2 {
    font-size: 4vh;
    font-weight: 800;
    margin-bottom: 0.75vh;
    font-family: 'Luckiest Guy';
    letter-spacing: 0.25vw;
}

#options section p {
    font-size: 3vh;
}

#options section img {
    grid-row: span 2;
    width: 100%;
    user-select: none;
}

#options::selection {
    background-color: #A5BE00;
    color: #427AA1;
}

#bobbytalk{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5vh;
}

#bobbytalk img {
    width: 100%;
}

#bobbytalk h2 {
    font-size: 4.5vh;
    font-weight: 800;
    color: #A5BE00;
    font-family: 'Luckiest Guy';
    letter-spacing: 0.25vw;
}

#bobbytalk p {
    color: #EBF2FA;
    font-size: 1.5rem;

}

#bobbytalk input {
    height: 20%;
    width: 60%;
    font-size: 1.15rem;
    border-radius: 3vw;
    padding: 1vh 2vw;
    background-color: #EBF2FA;
    margin: 1.5vh 0.5vw;
    border-color: #A5BE00;;
}

#bobbytalk input::placeholder {
    font-size: 1.15rem;
}

#bobbytalk button {
    width: 30%;
    height: 30%;
    font-size: 1.75vw;
    border-radius: 3vw;
    color: #05668D;
    background-color: #EBF2FA;
    border-color: #A5BE00;
    transition: 0.3s;
}

#bobbytalk button:hover {
    background-color: #A5BE00;
    scale: 0.9;
    color: #05668D;
    font-weight: bold;
}

#res {
    width: 70%;
    height: 50%;
    font-family: 'Poppins';
    font-size: 1.25vw;
    border-radius: 2vw;
    padding: 1.5rem;
    line-height: 1.5rem;
    color: #05668D;
    background-color: #EBF2FA;
    border-color: #A5BE00;
}

#water-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

#water-div p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #EBF2FA;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

#water-div input {
    width: 60%;
    height: 10%;
    border-radius: 2vw;
    padding: 1vw;
    border-color: #A5BE00;
}

#water-div button {
    width: 40%;
    border-radius: 2vw;
    margin-top: 2vw;
    padding: 2vh 0vw;
    transition: 0.3s;
    color: #05668D;
    background-color: #EBF2FA;
}

#water-div button:hover {
    background-color: #A5BE00;
    scale: 0.9;
    color: #05668D;
    font-weight: bold;
}

#water-div progress {
    width: 70%;
    height: 3vh;
    appearance: none;
}

#water-div progress::-webkit-progress-bar {
    background-color: #EBF2FA !important;
    border-radius: 2vw;
}

#water-div progress::-webkit-progress-value {
  background-color: #A5BE00 !important;
  background-image: none !important;
  border-radius: 2vw !important;
}

#water-div img {
    width: 75%;
}

#filter form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 2vw;
}

#filter label {
    color: #A5BE00;
    font-weight: bold;
    font-size: 1.5rem;
}

#filter input[type="radio"] {
    accent-color: #679436;
}

#filter input[type="text"] {
    border-radius: 2vw;
    padding: 1vh 1vw;
    margin: 0.5vh 0vw;
    border-color: #679436;
    width: 70%;
    height: 80%
}

#exercise-list {
    color: #EBF2FA;
    margin-left: 3vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.5rem;
    width: 70%;
}

#exercising {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 4vh 0vw;
}

#exercising img {
    width: 80%;
    margin-right: 6vw;
    border-radius: 2vw;
}

footer {
    text-align: center;
    font-weight: bold;
    color: #EBF2FA;
    margin-bottom: 1vh;
    position: sticky;
    bottom: 0; 
}

footer::selection {
    background-color: #A5BE00;
    color: #05668D;
}